@using AmsmProject.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<h3>Промени лозинка</h3>

<p class="text-success"><b>@ViewBag.StatusMessage</b></p>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

       
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
