
@{
    ViewBag.Title = "NoPrivilegies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Почитуван/на не ги задоволувате условите за да закажете термин.</h2>

@Html.ActionLink("Почеток", "HomePage", "AmsmHome")



